@*header*@

<header class="blog-featured" style="background:url(../../Images/employee-identity.png) #43464b;">
    <div class="b-container">
        <div class="headline">
            <h1>Vi ste super muškarac ili super žena u svakom trenutku. </h1>
            <p class="meta">
                <span>hippie_tamtam</span>
                &nbsp;|&nbsp; Jully 16, 2017
            </p>
        </div>
    </div>
</header>

@*header end*@

@*social networks*@
<section class="share-this-post">
    
</section>
@*social networks end*@

@*post content*@

<section id="post-content" class="b-container">

    <div class="blog-post">
        <p>
            Samopoštovanje ne mogu da obezbede drugi. Vi ste vredni, zato što vi tako kažete. Ako vaša vrednost zavisi od drugih, onda je to njihova vrednost.
        </p>
        <p>
            Nikada neceš imati dovoljno samopoštovanja ako uporno odbijaš da misliš pozitivno o sebi. Samopoštovanje znači osećati se dobro u svojoj koži, imati lepo misljenje o sebi. A kada misliš lepo o sebi, ti razvijaš samopouzdanje, a ono dalje razvija samopoštovanje. Jedno pothranjuje drugo. Jednom kad uhvatiš korak, mozes postići gotovo sve u životu.
        </p>
        <p>
            Samopoštovanje je upravo to, ono što mislis o sebi. Ti imaš slobodnu volju da misliš šta god želis, pa zašto bi onda omalovažavali sebe?
        </p>
        <blockquote>
            "Ostati ćutljiv je kao sporo rastući rak na duši i osobina prave kukavice. Nema ničega inteligentnog u ne isticanju za samog sebe. Možda ne pobediš svaku bitku. Ali opet, će svi bar znati za šta ste se borili. Za SEBE!"           </blockquote>
    </div>
</section>
@*post content end*@

@*most popular section*@
<section class="most-popular">
    <div class="most-popular-container">
        <header>
            <h2>
                <span>Most Popular</span>
            </h2>
        </header>
        <div class="row-flex">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-6 post">
                <a href="@Url.Action("Post","BlogPost")" class="post-box">
                    <figure>
                        <img src="~/Images/employee-identity.png" class="post-img" />
                    </figure>
                    <p>
                        <span class="category">
                            Afirmacije
                        </span>
                        <br>
                        Vi ste super muškarac ili super žena u svakom trenutku.

                    </p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-6 post">
                <a href="#" class="post-box">
                    <figure>
                        <img src="~/Images/brand-strategy.png" class="post-img" />
                    </figure>
                    <p>
                        <span class="category">
                            Afirmacije
                        </span>
                        <br>
                        Ljubav koja počiva na plemenitim motivima,
                        traje večno.

                    </p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-6 post">
                <a href="#" class="post-box">
                    <figure>
                        <img src="~/Images/insincere-support.png" class="post-img" />
                    </figure>
                    <p>
                        <span class="category">
                            Afirmacije
                        </span>
                        <br>
                        Vole cure kad Brkovi Zare i Goci.

                    </p>
                </a>
            </div>
        </div>
    </div>
</section>
@*most popular end*@


