@model HippieTamTam.Models.LaysCatsPosts

<section class="b-container">
    <div class="row-flex">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
            @using (Html.BeginForm("Create", "AdminPanel"))
            {

                IEnumerable<SelectListItem> Layouts = Enumerable.Empty<SelectListItem>();
                
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-4">Izaberi Kategoriju</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model=>model.CategoryID, new SelectList(Model.Categories,"CategoryID","CategoryName"),"Izaberi kategoriju");
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Izaberi layout</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.LayoutID,Layouts,"Izaberi layout");
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-7">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>



                }
</div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">

        </div>
    </div>
    <div class="row-flex">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">

        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">

        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    var url = '@Url.Action("GetLayouts","AdminPanel")';
    var layouts = $('#LayoutID');

    $('#CategoryID').change(function () {
        $.getJSON(url, { id: $(this).val() }, function (data) {
            layouts.empty();
            $.each(data, function (index, item) {
                layouts.append($('<option></option>').val(item.Value).text(item.Text));

            });
        });
    });
</script>

