<section class="blog-featured">
    <div class="b-container">
        <div class="link">
            <h1>Otvaranje predivnog kutka za duhovno obrazovane i neobrazovane.</h1>
            <p class="meta">
                <span>hippie_tamtam</span>
                &nbsp;|&nbsp; Jully 3, 2017
            </p>
        </div>
    </div>
</section>

