<section class="blog-featured">
    <div class="b-container">
        <div class="link">
            <h1>Otvaranje predivnog kutka za duhovno obrazovane i neobrazovane.</h1>
            <p class="meta">
                <span>hippie_tamtam</span>
                &nbsp;|&nbsp; Jully 3, 2017
            </p>
        </div>
    </div>
</section>
<section id="b-nav">
    <div class="b-container">
        <ul id="nav-tabs" class="nav nav-tabs">
            <li>
                <a href="#" class="active" data-toggle="tab">Najnovije</a>
            </li>
            <li>
                <a href="#" data-toggle="tab">Afirmacije</a>
            </li>
            <li>
                <a href="#" data-toggle="tab">Pesme</a>
            </li>
            <li>
                <a href="#" data-toggle="tab">...u jednom dahu o jednom duhu...</a>
            </li>
        </ul>
    </div>
</section>

