
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;  
}

body{
   overflow-x:hidden; 
   font-family:Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 1.42857;
   color: #333;
   
}

/*header with background and headline*/ 

.blog-featured{
    background-repeat:no-repeat !important;
    background-position:center bottom !important;
    background-size:562px 315px !important;
    position:relative;
    text-align:center;
}

.headline{
    word-wrap:break-word;
    padding:2.25em 0 24em;
    display:block;
    text-decoration:none;
    position:relative;
}

.meta{
    display:inline-block;
    font-size:12px;
    letter-spacing:0.5px;
    text-transform:uppercase;
    color:white;
    margin:8px 0;
}
/*end of header*/



/*navigation menu rules from **** MAIN PAGE ****/

#b-nav{
    background-color:#eaebed;
    margin-bottom:2em;
}

#nav-tabs{
    border:0;
    padding:5px 0 0;
}

#nav-tabs li{
    float:none;
    margin:0;
    list-style:none;
    clear:both;
}

#nav-tabs li a {
    border:0;
    border-radius:50px;
    color:#9ca4ac;
    font-size:16px;
    text-align:center;
    padding:20px 25px;  
}

#nav-tabs li.active a {
    background:#fff;
    color:#555;
}

#nav-tabs  li a:hover{
    background:#fff;
    color:#555;
}
/*end of navigation menu*/

/*Content  *** MAIN PAGE *** rules*/
.row-flex{
    display:flex;
    flex-wrap:wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.post-box{
    display:block;
    background:#f6f6f6;
    margin:0 -6px 18px;
}

.post-img{
    border-radius:4px 4px 0 0;
}

.post-box:hover {
    text-decoration:none;
    background:#fff;  
}

 .post-box:focus {
    text-decoration:none;

}

.post-box:hover .category::before{
    left:-58px;
    width:50px;
}

.post-box:hover .category::after{
    right:-58px;
    width:50px;
}




.post-box p {
    color:#333;
    font-size:12px;
    padding:8px;
    line-height:1.5em;
    min-height:50px;
    text-align:center;
    transition:all .2s ease-in-out;
    border:1px solid #ececec;
    border-top:0;
    border-radius:0 0 4px 4px;
    
}

.category{
    color:#bfbfbf;
    display:inline-block;
    font-size:11px;
    margin-bottom:4px;
    position:relative;
    
}

.category::before,.category::after{
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    background:#e6e6e6;
    content:"";
    height:1px;
    position:absolute;
    top:10px;
    width:20px;
}

.category::before{
    left:-28px;
}

.category::after{
    right:-28px;
}



.post-img{
  display: block;
  height: auto;
  max-width: 100%;
}


/*end of content main page*/

/* post content rules */
#post-content{
    max-width:720px;
    margin:2em auto;
}

#post-content p ,#post-content blockquote{
    color:#222;
    font-family:Georgia,"Times New Roman",Times,serif;
    margin-bottom:23px;
    font-size:17px;
    line-height:25.5px;
}

#post-content blockquote{
    border-left:3px solid #222;
    margin:35px 0;
    padding:5px 0 5px 18px;
    font-style:italic;

}

#post-content .blog-post p:first-child{
    font-size:1.85em;
    line-height:1.4em;
}

#post-content .blog-post p:first-child:first-letter{
    color:#43464b;
    float:left;
    font-size:2.85em;
    font-weight:700;
    margin:6px 8px -5px 0;
    line-height:60px;
}

/*post content end*/

/*POST most popular section*/

.most-popular{
    margin-bottom:2em;
    padding:0 16px;
}

.most-popular-container{
    max-width:690px;
    padding:0;
    margin:0 auto;
}
.most-popular h2 span {
    background:#fff;
    padding:0 10px;
    position:relative;
    top:9px;
}

.most-popular-container h2{
    letter-spacing:.5px;
    text-transform:uppercase;
    border-bottom:1px solid #e4e4e4;
    color:#999;
    font-size:13px;
    font-weight:400;
    margin:0 auto 2.5em;
    text-align:center;
}

/*POST most popular end */

/*footer*/
.b-footer{
    padding:2em 0;
    border-top:1px solid #e0e0e0; 
}
/*end of footer*/

/*responsive container */

.b-container{
    margin:0 auto;
    max-width:1140px;
    padding-left:15px;
    padding-right:15px;
}
/*end of responsive container*/

h1{
    color:white;
    font-weight:500;
    line-height:1.3em;
    opacity:1;
    font-size:28px;
    font-style:normal;
    opacity:1;
}

/*media rules */
@media (min-width:768px){

    .link{
        padding:3.5em 0 24em;
    }

    .blog-featured h1{
        font-size:38px;
    }

    .post-box{
        margin:0 0 25px;
    }

    .post-content{
        margin:3em auto;
    }
    #post-content p ,#post-content blockquote{
        font-size:19px;
        line-height:29px;
    }

    .most-popular{
        padding:0 2.4em;
    }
    
    .most-popular-container h2{
        margin-bottom:3.5em;
    }
    .b-footer{
        padding:4em 0; 
    }

}

@media (min-width:992px){
    #b-nav{
        margin-bottom:5em;
    }
    #nav-tabs li{
        clear:none;
        float:left;
    }
    #nav-tabs li a {
        border-radius: 0;
        
    }

    #post-content blockquote{
        margin:35px 0 35px 0;
        padding-left:21px;
    }

}

@media(max-width:991px) and (min-width:544px){
    #b-nav{
        margin-bottom:3em;
    }
     #nav-tabs li{
        clear:none;
        float:left;
    }

    #nav-tabs li a{
        border-radius:0;
        padding:20px 12px;
        font-size:14px;
        
    }

}

@media (max-width:443px){
   .post-box:hover .category::before{
        left:-30px !important;
        width:26px !important;
    }

   .post-box:hover .category::after{
        right:-32px !important;
        width:28px !important;
    }
}
/*end of media */
