
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;  
}

body{
    margin:0 auto;
    padding:0;
}

#bodyWrap{
    margin:0 auto;
    min-height:100%;
    overflow-x:hidden;
    padding:0;
}

/*header with background and headline*/ 
.blog-featured{
    background:url(../Images/ekipa.png) #824ed2 no-repeat center bottom;
    background-size:562px 315px;
    margin:0;
    padding:0;
    position:relative;
    text-align:center;
}

.blog-featured .link{
    padding:2.25em 0 24em;
    display:block;
    text-decoration:none;
    position:relative;
}

/*responsive container */
.b-container{
    margin-left:auto;
    margin-right:auto;
    max-width:1140px;
    padding-left:15px;
    padding-right:15px;
}

/*navigation menu rules from main page*/
#b-nav{
    background-color:#eaebed;
    margin-bottom:2em;
}

#nav-tabs{
    border:0;
    padding:5px 0 0;
}

#nav-tabs li{
    float:none;
    margin:0;
    list-style:none;
    clear:both;
    
}

#nav-tabs li a {
    border:0;
    border-radius:50px;
    color:#9ca4ac;
    font-size:16px;
    text-align:center;
    padding:20px 25px;
    
    
}

#nav-tabs li.active a {
    background:#fff;
    color:#555;
}

#nav-tabs  li a:hover{
    background:#fff;
    color:#555;
}




h1{
    color:white;
    font-family:"Aktiv Grotesk",Helvetica,Arial,sans-serif;
    font-weight:500;
    line-height:1.3em;
    opacity:1;
    font-size:28px;
    font-style:normal;
}

.blog-featured .meta{
    display:inline-block;
    font-size:12px;
    letter-spacing:0.5px;
    text-transform:uppercase;
    color:white;
    margin:8px 0;
}

@media (min-width:768px){

    .blog-featured .link{
        padding:3.5em 0 24em;
    }

    .blog-featured h1{
        font-size:38px;
    }

}

@media (min-width:992px){
    #b-nav{
        margin-bottom:5em;
    }
    #nav-tabs li{
        clear:none;
        float:left;
    }
    #nav-tabs li a {
        border-radius: 0;
        
    }
}

@media(max-width:991px) and (min-width:544px){
    #b-nav{
        margin-bottom:3em;
    }
     #nav-tabs li{
        clear:none;
        float:left;
    }

    #nav-tabs li a{
        border-radius:0;
        padding:20px 12px;
        font-size:14px;
        
    }
}

